/* font-family: 'Noto Sans TC', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body{
  //background-color:rgb(253, 213, 213);
  background: rgb(245,213,243);
  background: linear-gradient(0deg, rgba(62,31,11,1) -25%, rgba(214,175,141,1) 5%, rgba(255,242,215,1) 100%);
}

section{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}
.form{
  width:60vw;
  padding:20px;
  background-color:rgba(255,255,255,0.6);
}
h1{
  font-size:4rem;
  font-weight:700;
  padding:10px;
}

h3{
  font-size:1.5rem;
  padding:5px 10px;
}

p{
  font-size:1rem;
  padding:5px 10px;
}
